:root {
    --lineWidth: '100%';
    --lineHeight: '2px';
    --notchWidth: '90px';
    --notchHeight: '10px';
    --collapsed: false;
    --collapseDelay: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: "Gotham", "system-ui", "-apple-system", "BlinkMacSystemFont", "San Francisco", "Roboto", "Segoe UI", "Ubuntu", "Helvetica Neue", sans-serif;
  margin: 0;
}
  